.recipescards-liste {
  // display: flex;
  // justify-content: space-around;
  // align-items: flex-start;
  // padding: 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr 1fr;
  margin-left: 1%;
  align-items: center;
  

  @media screen and (max-width: 1260px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
  }
  @media screen and (max-width: 850px) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

 
}
