.pagelistecourses {
  display: grid;
  grid-template-rows: 255px, 1fr, 150px;

  .pagelistecourses-content {
    min-height: 100vh;
    height: 100%;
    width: 100vw;

    .pagelistecourses-text {
      border-top: 2px solid whitesmoke;
      height: fit-content;
      border-radius: 20px;
      width: 90%;
      margin: 20px auto;
      backdrop-filter: blur(20px);
      background: rgba(245, 245, 245, 0.315);
      box-shadow: 13px 11px 18px 3px rgb(37 21 11);
      height: fit-content;
      text-align: center;

      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // margin: 2px auto;
      // padding: 0;

      .box-pdf-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;

        a,
        i,
        button {
          border: 2px solid $brown1;
          background-color: $green3;
          transition: all 0.2s linear;
          border-radius: 5px;
          font-size: 1.8rem;
          font-weight: 700;
          align-items: center;
          color: $green2;
          margin: 0 5px 5px 0;
          display: block;

          &:hover {
            letter-spacing: 2.5px;
            background: $brown1;
            color: wheat;
          }
        }

        a {
          padding: 3px 6px;

          &:before {
            content: "";
            color: $green2;
          }
        }

        button,
        i {
          padding: 5px 9px;
          margin: 0 auto;
          width: 45px;
        }

        .box-button {
          margin: 5px 20px;
        }
      }
      ////////////////////////////////////////////////////////
    }
  }
}
