.pagenewrecipe {
  display: grid;
  grid-template-rows: 255px, 1fr, 150px;

  .new-content {
    min-height: 100vh;
    height: 100%;
    width: 100vw;

    .new-text {
      border-top: 2px solid whitesmoke;
      height: fit-content;
      display: flex;
      align-items: center;
      flex-direction: column;

      border-radius: 20px;
      width: 70%;

      padding: 10px 5px;
      margin: 20px auto;
      backdrop-filter: blur(20px);
      background: rgba(245, 245, 245, 0.315);
      box-shadow: 13px 11px 18px 3px rgb(37 21 11);
      height: fit-content;

      @media screen and (max-width: 1020px) {
        width: 80%;
      }

      @media screen and (max-width: 920px) {
        width: 85%;
      }

      @media screen and (max-width: 820px) {
        width: 90%;
      }

      @media screen and (max-width: 780px) {
        width: 95%;

        margin: 10px auto;

        h1 {
          align-items: center;
          text-align: center;
          margin: 20px 20px;
          padding: 10px 60px;
          font-size: 3rem;
          line-height: 90%;
          letter-spacing: 1.5px;

          @media screen and (max-width: 1300px) {
            font-size: 2.4rem;
          }

          @media screen and (max-width: 1080px) {
            font-size: 2.2rem;
          }

          @media screen and (max-width: 1025px) {
            font-size: 2rem;
          }

          @media screen and (max-width: 960px) {
            font-size: 1.9rem;
            padding: 10px 40px;
          }

          @media screen and (max-width: 870px) {
            padding: 10px 15px;
          }

          @media screen and (max-width: 800px) {
            font-size: 1.7rem;
            padding: 10px auto;
            margin: 0 auto;
          }
        }

        h2 {
          padding: 10px 15px;
          font-size: 1.7rem;
          font-family: $font2;
          font-weight: 100px;

          @media screen and (max-width: 1300px) {
            font-size: 1.5rem;
          }

          @media screen and (max-width: 1000px) {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
