.recipe-details {
  border-radius: 20px;
  max-width: 1300px;
  margin: 10px;
  padding: 10px;
  box-shadow: 13px 11px 18px 3px rgb(37 21 11);
  background: url(../../assets/img/champetre.jpg) center/cover;

  @media screen and (max-width: 1150px) {
    max-width: 95%;
  }

  .details-input,
  .details-input-stp,
  .select-category {
    background: $parchemin2;
    padding: 3px;

    .detailsTitle {
      border-radius: 20px;
      padding: 2px;
    }

    label {
      padding: 0 5px;
      font-weight: 700;
      font-size: 1.4rem;
    }

    input,
    select {
      width: 98%;
      font-size: large;
      background-color: $parchemin3;
      //  background: $green;
    }

    h4 {
      margin-right: 30px;
      padding: 15px 10px 0 10px;
      font-size: 1.6rem;
      font-family: $font2;
      text-align: left;
      // min-width: 180px;

      @media screen and (max-width: 1150px) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 690px) {
        font-size: 1.3rem;
      }
    }

    h5 {
      margin: 0 auto;
      padding: 2px 10px 2px 15px;
      font-size: 1.3rem;
      font-family: $font2;
      text-align: center;
      min-width: 180px;
      // background: $parchemin3;
      background: $green;
      width: 98%;
      height: fit-content;
      border-radius: 20px;
    }

    h6 {
      margin-right: 30px;
      padding: 2px 10px 2px 15px;
      font-size: 1.3rem;
      font-family: $font2;
      text-align: left;
      // min-width: 150px;
      background: $parchemin3;
      width: 98%;

      height: fit-content;

      @media screen and (max-width: 1655px) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 980px) {
        font-size: 1.1rem;
      }
      @media screen and (max-width: 700px) {
        font-size: 0.9rem;
        padding: 2px 5px 2px 10px;
      }

      @media screen and (max-width: 520px) {
        padding: 2px 10px 2px 2px;
      }
    }

    p {
      padding: 0 3px 0 3px;
      font-size: 1.4rem;
      font-family: $font2;
      color: red;

      @media screen and (max-width: 1300px) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 500px) {
        font-size: 1rem;
      }
    }

    .seasons-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 20px;
      position: relative;

      .details-input,
      .details-input-stp {
        display: flex;
        flex-direction: column;

        label {
          margin-left: 10px;

          @media screen and (max-width: 1150px) {
            font-size: 1.2rem;
          }

          @media screen and (max-width: 450px) {
            font-size: 1.1rem;
          }

          @media screen and (max-width: 410px) {
            font-size: 1rem;
          }

          @media screen and (max-width: 390px) {
            font-size: 0.9rem;
          }
        }

        ////////////////////////////////////////////////////////////////
        input[type="checkbox"] {
          position: absolute;
          cursor: pointer;
          width: 0px;
          height: 0px;

          &:checked:before {
            content: "";
            position: absolute;
            display: block;
            width: 22px;
            height: 22px;
            border: 4px solid $brown1;
            // background-color: $parchemin3;
            background: $green;
            transition: all 0.2s linear;
            @media screen and (max-width: 800px) {
              left: 20px;
            }
          }

          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 30px;
            left: 30px;
            width: 22px;
            height: 22px;
            border: 3px solid $brown1;
            border-radius: 3px;
            // background-color: $parchemin3;
            background: $green;

            @media screen and (max-width: 800px) {
              left: 20px;
            }
          }

          &:after {
            content: "";
            display: block;
            width: 0px;
            height: 0px;
            border: solid $brown1;
            border-width: 0 0px 0px 0;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
            position: absolute;
            top: 30px;
            left: 30px;
            @media screen and (max-width: 800px) {
              left: 20px;
            }

            // transition: all 0.2s linear;
          }

          &:checked:after {
            content: "";
            display: block;
            width: 12px;
            height: 21px;
            border: solid $brown1;
            border-width: 0 4px 4px 0;
            z-index: 1;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 26px;
            left: 36px;
            @media screen and (max-width: 800px) {
              left: 26px;
            }
          }
        }

        /////////////////////////////////////////
      }
    }

    .ingredients-label {
      // margin: 10px 5px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      h4 {
        width: 255px;

        @media screen and (max-width: 1150px) {
          font-size: 1.4rem;
        }
        @media screen and (max-width: 690px) {
          font-size: 1.2rem;
        }
        @media screen and (max-width: 630px) {
          font-size: 1rem;
          width: 135px;
          margin: 0 auto;
        }
      }
    }

    .ingredients-container-details {
      border: 4px solid $green2;
      border-radius: 10px;
      max-height: 200px;
      overflow: auto;
      background: $green;

      // @media screen and (max-width: 520px) {

      //   margin: 0 auto;

      // }

      .ingredient-bloc-details {
        margin: 5px 5px;
        display: flex;

        .details-input,
        .select-category {
          width: 255px;
          margin: 0 auto;

          // @media screen and (max-width: 770px) {
          //   width: 160px;
          // }

          @media screen and (max-width: 700px) {
            // width: 130px;
            justify-content: space-around;
          }

          @media screen and (max-width: 520px) {
            // width: 80px;
          }

          h6 {
            @media screen and (max-width: 520px) {
              font-size: 0.8rem;
            }
          }
        }
      }
    }

    .steps-container-details {
      border: 4px solid $green2;
      border-radius: 10px;
      max-height: 220px;
      overflow: auto;
      margin-bottom: 5px;

      .details-input-stp {
        padding-left: 5px;
        margin: 4px auto;
        background: $green;
      }
    }

    .private-button-container {
      display: flex;
      justify-content: right;
      margin: 5px 5px;

      .delete-container {
        display: flex;
        justify-content: right;
        margin: 0;

        padding: 0;

        .box-delete,
        .box-details,
        .box-modif-back,
        .box-duplicate {
          // height: 30px;
          margin: 12px 2px;

          button {
            font-weight: 700;
            margin: 6px;
            padding: 6px 6px;
            font-size: 1.4rem;
            border-radius: 5px;
            // display: block;
            // margin: 0 5px 5px 0;
            background-color: $green3;

            &:hover {
              letter-spacing: 2.5px;
              background: $brown1;
              color: wheat;
            }

            a,
            i {
              text-decoration: none;
              transition: all 0.2s linear;
              // display: block;

              font-weight: 700;
              align-items: center;
              color: $green2;

              text-decoration: none;

              &:hover {
                color: wheat;
                background: $brown1;
              }

              &:visited {
                color: $green2;
              }
            }

            a {
              font-size: 1.3rem;

              &:hover {
                color: wheat;
                background: $brown1;
              }
            }

            i {
              font-size: 1.4rem;
            }
          }

          //}
        }
      }

      // .box-message-conf {

      //   .conf-suppr {
      //     display: flex;
      //     flex-direction: row;
      //     justify-content: center;

      //     button {

      //       // border: none;
      //       // background: none;
      //       margin: 0 10px;

      //       i {
      //         color: red;
      //         font-size: 1.8rem;
      //       }
      //     }
      //   }
      // }

      // }
    }
  }

  .details-input-stp {
    h6 {
      font-size: 1.2rem;
      height: fit-content;
      padding: 2px;

      @media screen and (max-width: 1655px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 350px) {
        font-size: 0.8rem;
      }
    }
  }
}
